.footer_text_body {        
    margin-bottom: 0px;
    padding: 10px;
    color: white;
}
.footer_text_body .footer_copy {
    margin-top: 10px;
}
@media only screen and (min-width: 768px) {
    .footer_text_body .footer_icon {
        width: 150px;
        padding-top: 15px;
        margin-bottom: 15px;
        color: white;
    }
}
.footer_text_body .footer_icon {
    width: 100px;
    padding-top: 15px;
    margin-bottom: 15px;
    color: white;
}